[Desktop Entry]
Type=Application
Name=Magnus screen magnifier
Exec=magnus
NoDisplay=true
AutostartCondition=AutostartCondition=GSettings org.gnome.desktop.a11y.applications screen-magnifier-enabled
X-MATE-AutoRestart=true
NotShowIn=GNOME;
