[Desktop Entry]
Type=Application
Name=Magnus screen magnifier
Exec=magnus --started-by-keypress
NoDisplay=true
AutostartCondition=GSettings org.gnome.desktop.a11y.applications screen-magnifier-enabled
X-MATE-AutoRestart=true
X-GNOME-AutoRestart=true
